@import "variables.scss";

.footer{
    color: $musketierBlack;
    background-color: $musketierSilver;
    border-top: 1px solid $musketierRed;
    margin-top: 10px;
    display: flex;
    &-contact{
        &-name{
            font-weight: bold;
        }
    }
}
