// _variables.scss
$musketierBlack: #000;
$musketierRed: #c91309;
$musketierSilver:#e3e4e6;

html{
  margin-top: 0 !important;
}
body {
  font-family: Arial, sans-serif;
  color: $musketierBlack;
  margin: 0;
}
