// _variables.scss
$musketierBlack: #000;
$musketierRed: #c91309;
$musketierSilver:#f9f2ea;

html{
  margin-top: 0 !important;
}
body {
  font-family: Arial, sans-serif;
  color: $musketierBlack;
  margin: 0;
}
main{
  margin: 0 10%;
}